.offset3.row
  .span6.well
    %h2 Incassi giornalieri
    %table.table
      - for i in @incassi do
        %tr
          %td{ style: "width: 250px"}
            = l i.data, format: :long_with_day
          %td.pull-right{ style: "text-align: right; width: 250px"}
            = number_to_currency i.incasso
      %tr
        %td Incasso totale
        %td.pull-right{ style: "text-align: right"}
          = number_to_currency @incassi.sum { |i| i.incasso.to_d }
          