<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">data</Data></Cell>
        <Cell><Data ss:Type="String">anno</Data></Cell>
        <Cell><Data ss:Type="String">incasso</Data></Cell>
        <Cell><Data ss:Type="String">iva</Data></Cell>
       
      </Row>
    <% @incassi.each do |riga| %>
      <Row>
        <Cell><Data ss:Type="String"><%= l riga.data, format: :long_with_day %></Data></Cell>
        <Cell><Data ss:Type="String"><%= riga.data.year %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= riga.incasso %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= riga.incasso %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>