.modifica-sconto.well.well-small.form-inline.pull-right.clearfix
  
  - checked_sconto = @sconto == 0.0 ? false : true 
  %label.radio.inline
    = radio_button_tag 'prezzo', 'consigliato', !checked_sconto
    prezzo consigliato
  %label.radio.inline
    = radio_button_tag 'prezzo', 'con_sconto', checked_sconto
    sconto
    = select_tag 'prezzo', options_for_select([0, 0.25, 10, 15, 18, 20, 23, 25, 30, 35, 43, 50, 100], @sconto), class: 'input-mini'
  %label.radio.inline
    %button#modifica-prezzo.btn.btn-mini Modifica tutti

.clearfix