// @import "bootstrap";
@import "compass/utilities/lists/inline-list";
@import "compass/utilities/lists/bullets";
@import "compass/utilities/tables/borders";
@import "../application/mixins";

body {
  font-family: Arial,Verdana,sans-serif;
}


table { page-break-inside:avoid; page-break-after:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
td    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }

a { text-decoration: none }

.navbar.navbar-fixed-top {
  display: none;
}


td.titolo { padding: 3px 10px 3px 10px; width: 200px; }
td.qta    { padding: 3px 10px 3px 10px; width:  40px; text-align: right; }
td.prezzo { padding: 3px 10px 3px 10px; width:  60px; text-align: right; }

.page-break  { display:block; page-break-before:always; }
.break a { display: none; }

table {
  @include inner-table-borders(1px, #666666);
  @include outer-table-borders(1px)
}



.visite-long {
  @include no-bullets;
  margin: 0;
  padding: 0;
}

#baule_update   { display: none; }
.footer-actions { display: none; }
.scarica-baule  { display: none; }
.baule-rimuovi  { display: none; }
.show-hide      { display: none; }
.esandi-tutto   { display: none; }

.hidden         { display: none; }
.modal          { display: none; }


.adozioni-nel-baule {
  position: fixed;
  bottom: 1px;
  right: -100px;
}
.ordini-nel-baule {
  position: fixed;
  bottom: 1px;
  left: 1px;
}

.baule_btn { display: none; }

.map-baule .map_container {
  margin-bottom: 20px;
  .gmaps4rails_map {
    margin: auto;
    width: 600;
    height: 300px;
  }
} 

.table-righe-new {
  @include clearfix();
  .riga {
    @include clearfix();
  }
  .titolo  { float: left; padding: 3px 3px 3px 10px; width: 200px; }
  .dati-riga {
    float: right;
    .quantita { float: left; padding: 3px; width:  50px; text-align: right; }
    .prezzo   { float: left; padding: 3px; width:  50px; text-align: right; display: none }
    .sconto   { float: left; padding: 3px; width:  50px; text-align: right; display: none }
    .importo  { float: left; padding: 3px; width:  60px; text-align: right; display: none }    
  }


}

.totali-new { 
  float: right;
  @include clearfix();
}

.dates { 

}

.time, .mostra-classi, .importo.badge, .chiudi, .actions, .stato, .more-actions {
  display: none
}

table.righe {
  width: 100%;
}

.baule-page {
  .appunti {
    @include clearfix();
    .appunto {
      width: 300px;
      float: left;
      border: 1px solid black;
      margin: 0 5px 5px 0;
      padding: 5px; 
    }    
  }
}


.classi-adozioni {
  width: 100%;
  td.classe-group {
    width: 60px;
    height: 70px;
    .badge {
      text-align: center;
      font-size: 130%;
      margin: auto;
    }

  }
  .adozioni-list {
    @include inline-list;
    li span {
      font-size: 10px;
    }
  }
  .sezione {
    margin-bottom: 10px
  }  
}