// @import "bootstrap";
@import "compass/utilities/lists/inline-list";

.navbar.navbar-fixed-top {
  display: none;
}

.map_container {
  margin-bottom: 20px;
  .gmaps4rails_map {
    margin: auto;
    width: 600px;
    height: 300px;
  }
} 

.baule-rimuovi {
  display: none;
}

.classi-adozioni {
  
  width: 100%;
  
  td {
    border: solid 1px #666666;
  }
  
  td.classe-group {
    width: 60px;
    .badge {
      text-align: center;
      font-size: 130%;
      margin: auto;
    }

  }
  .adozioni-list {
    @include inline-list;
    li span {
      font-size: 10px;
    }
  }
  .sezione {
    margin-bottom: 10px
  }  
}