
<div class="appunto {{stato}}" id="appunto_{{id}}">
  <div class="content">
    
    <small class="time"><time class="timeago">3 min</time></small>

    <div class="actions">
      <ul class="nav-appunto">
        <li class="delete">
          <a href="/appunti/{{id}}" title="elimina" data-confirm="Sei sicuro?" data-method="delete" data-remote="true">
            <i class="icon-trash"></i>
            Elimina</a>
        </li>
        <li class="print" >
          <a href="/appunti/{{id}}.pdf" title="stampa pdf" target="_blank">
            <i class="icon-tag"></i>
            Stampa</a>
        </li>
        <li class="edit"  >
          <a href="/appunti/{{id}}/edit" title="modifica">
            <i class="icon-pencil"></i>
            Modifica</a>
        </li>
        <li class="baule"  >
          <a href="/appunti/{{id}}/edit" title="baule" data-remote="true">
            <i class="icon-shopping-cart"></i>
            Carrello</a>
        </li>
        <li> | </li>
        <li class="show"  >
          <a href="/appunti/{{id}}" title="mostra dettagli">
            <i></i>
            Apri
          </a>
        </li>
      </ul>  
    </div>

    <div class="stato {{stato}}">{{stato}}</div>

    <a href="/clienti/{{cliente_id}}">
      <strong class="full_name" >{{cliente_nome}}</strong>
    </a>      

    <span class="destinatario">
      <i>@</i>
      {{destinatario}}
    </span>

    <p>{{{note}}}</p>
    <span class="label label-info importo" data-value="{{totale_importo}}">${{totale_importo}}</span>


    <div class="more">      
      <div class="table-righe">
        {{#con_righe}}      
        <table class="righe table table-striped table-condensed">
          {{#righe}}
          <tr class="riga">
              <td>{{titolo}}</td>
              <td>{{quantita}}</td>
              <td>x</td>
              <td>{{prezzo_unitario}}</td>
              <td>-</td>
              <td>{{sconto}}%</td>
              <td>=</td>
              <td>{{importo}}</td> 
          </tr>
          {{/righe}}
          <tr class="riga">
              <td></td>
              <td><span class="label label-info">{{totale_copie}}</span></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><span class="label label-info">${{totale_importo}}</span></td> 
          </tr>
        </table>
        {{/con_righe}}      
      </div>
    
    </div>  
          
    
    
  </div>
  



      
        <!-- {{#con_recapiti}}        
        <div class="recapiti">
          <span class="telefono">{{telefono}}</span>
          <address><a href="mailto:{{email}}" class="email">{{email}}</a></address>
        </div>
        {{/con_recapiti}} -->


</div>
