<div class="appunto {{stato}}" id="appunto_{{id}}">
  <div class="stato {{stato}}">{{stato}}</div>
  <div class="appunto-wrap">
    <div class="intestazione">
      <div class="destinatario"><a href="/appunti/{{id}}">{{destinatario}}</a></div>
      <div class="scuola_nome" ><a href="/scuole/{{scuola_id}}">{{scuola_nome}}</a></div>
    </div>
    <div class="note"        >
      <span class="on_the_spot_editing" data-auth="{{auth_token}}" data-cancel="Annulla" 
            data-columns="40" data-edittype="textarea" data-ok="Ok" data-rows="3" 
            data-tooltip="Click per modificare ..."
            data-url="/appunti/update_attribute_on_the_spot?raw=true" id="appunto__note__{{id}}" 
            data-loadurl="/appunti/{{id}}/get_note"
            data-callback="testCallback"
            title="...">{{{note}}}</span>
      <div class="recapiti {{con_recapiti}}">
        <div class="telefono"    >{{telefono}}</div>
        <div class="email"       >{{email}}</div>
      </div>
      <ul class="righe">
        {{#righe}}
        <li class="riga">{{riga.titolo}} {{riga.quantita}} x {{riga.prezzo_unitario}} - {{riga.sconto}}% = {{riga.importo}} </li>
        {{/righe}}  
      </ul>
      <div class="totali"><span class="tot_copie">{{totale_copie}}</span><span class="tot_importo">{{totale_importo}}</span></div>
    </div>
  </div>  
  <div class="azioni">
    <div class="show"  ><a href="/appunti/{{id}}" title="mostra dettagli">Mostra</a></div>
    <div class="print" ><a href="/appunti/{{id}}.pdf" title="stampa pdf">Stampa</a></div>
    <div class="edit"  ><a href="/appunti/{{id}}/edit" title="modifica" data-remote="true">Modifica</a></div>
    <div class="delete"><a href="/appunti/{{id}}" title="elimina" data-confirm="Sei sicuro?" data-method="delete" data-remote="true">Elimina</a></div>
  </div>
  
  <div class="clear"></div>
</div>