<div class="appunto">
  <h2><a href="{{url}}">{{destinatario}}</a></h2>
  <h3><a href="{{url_scuola}}">{{scuola_nome}}</a></h2>
  <div class="details">
    {{note}}
    {{telefono}}
    {{email}}
    {{stato}}
  </div>
</div>