#righe
  = f.simple_fields_for :righe do |riga|
    - if riga.object.new_record? && riga.object.libro.settore == settore && riga.object.quantita.nil?
      = render 'righe/form', riga: riga, remove: false
    - else
      .hidden
