
- unless appunto.telefono.blank?
  .btn-group
    %a.btn.pull-left{ href: "tel:#{appunto.telefono}" }
      %i.icon-phone
      = appunto.telefono

- unless appunto.email.blank?
  .btn-group
    %a.btn.pull-left{ href: "mailto:#{appunto.email}" }
      %i.icon-envelope
      = appunto.email

.clearfix
