%div{ "data-role" => "header",  "data-position" => "inline" }
  = link_to "Indietro", appunti_url,  "data-icon" => "back"
  %h1 Nuovo Appunto

= render 'form'

/ %div{"data-role" => "footer"}
/   = link_to 'Back', appunti_path
