$("#<%= dom_id(@classe) %>").slideUp('slow', function() {
  $(this).remove();
  var flash =	$('<div id="flash_notice">Classe eliminata</div>');
  flash.prependTo("#top").delay(2000).slideUp("slow", function() {
    flash.remove();
  });
});