= render layout: 'form' do |f|

  %fieldset
    %legend
      
    .control-group
      .controls
        = link_to "Inserisci Vacanze", wizard_path(:vacanze), class: "btn"
        = link_to "Scegli appunti", wizard_path(:scegli_appunti), class: "btn"
        %button{:class => "btn btn-primary", :type => "submit"} Salva e chiudi
  
