= render layout: 'form' do |f|
  

  .control-group
    = f.input :leggi, as: :text, label: "incolla i titoli e le quantità dalla mail Consegne", input_html: { class: "input-block-level" }
          
  %fieldset
    %legend
      
    .control-group
      .controls
        = link_to "Indietro", wizard_path(:intestazione), class: "btn"
        = link_to "Avanti", wizard_path(:finale), class: "btn"
        %button{:class => "btn btn-primary", :type => "submit"} Salva e continua
  
