= render layout: 'form' do |f|
  = nested_righe_per_appunto(@righe)
  
  .control-group
    .controls
      = link_to "Passaggio precedente", previous_wizard_path, class: "btn"
      %button{:class => "btn btn-primary", :type => "submit"} Salva e continua
      
      = link_to "Salta questo passaggio", next_wizard_path, class: "btn" 
