.search_options.pjax.search-nearbys
  %h2 Nelle vicinanze...
  - @nearbys = indirizzo.nearbys().includes(:indirizzable).limit(30)
  %ul.vertical
    - for c in @nearbys
      %li= link_to c.try(:indirizzable).try(:nome), cliente_path(c.try(:indirizzable_id))
        
        
