<form name="f" method="get" action="http://www.nonsolocap.it/cap" target="_blank" class="form-search">
  
  <div class="control-group">
    Cerca su... <img src="http://images.nonsolocap.it/logo/logo-90x20.gif" alt="">
  </div>
  <div class="control-group">
    <div class="form-inline">
      <input type="text" name="k" size="30" maxlength="35" value="" class="input-medium search-query">
      <input type="submit" name="s" value="Cerca">  
    </div>
  </div>

  <div class="control-group">
    <select style="font-size:90%" name="c">
      <option value="">in tutte le LOCALITÀ</option>
      <option disabled="disabled">---</option>
      <option value="alessandria">ALESSANDRIA</option>
      <option value="ancona">ANCONA</option>
      <option value="bari">BARI</option>
      <option value="bergamo">BERGAMO</option>
      <option value="bologna">BOLOGNA</option>
      <option value="brescia">BRESCIA</option>
      <option value="cagliari">CAGLIARI</option>
      <option value="catania">CATANIA</option>
      <option value="cesena">CESENA</option>
      <option value="ferrara">FERRARA</option>
      <option value="firenze">FIRENZE</option>
      <option value="foggia">FOGGIA</option>
      <option value="forli">FORLÌ</option>
      <option value="genova">GENOVA</option>
      <option value="la-spezia">LA SPEZIA</option>
      <option value="livorno">LIVORNO</option>
      <option value="messina">MESSINA</option>
      <option value="milano">MILANO</option>
      <option value="modena">MODENA</option>
      <option value="napoli">NAPOLI</option>
      <option value="padova">PADOVA</option>
      <option value="palermo">PALERMO</option>
      <option value="parma">PARMA</option>
      <option value="perugia">PERUGIA</option>
      <option value="pesaro">PESARO</option>
      <option value="pescara">PESCARA</option>
      <option value="piacenza">PIACENZA</option>
      <option value="pisa">PISA</option>
      <option value="ravenna">RAVENNA</option>
      <option value="reggio-calabria">REGGIO CALABRIA</option>
      <option value="reggio-emilia">REGGIO EMILIA</option>
      <option value="rimini">RIMINI</option>
      <option value="roma">ROMA</option>
      <option value="salerno">SALERNO</option>
      <option value="taranto">TARANTO</option>
      <option value="torino">TORINO</option>
      <option value="trento">TRENTO</option>
      <option value="trieste">TRIESTE</option>
      <option value="venezia">VENEZIA</option>
      <option value="verbania">VERBANIA</option>
      <option value="verona">VERONA</option>
    </select>
  </div>

</form>