= form_tag url_for( controller: params[:controller], action: 'index'), method: "get" do
  = text_field_tag :search, params[:search], :size => 35
  = submit_tag "Cerca #{params[:controller].capitalize}", :name => nil