- if @giro.visite.empty?
  .module.list-giro.hidden
- else    
  .module.list-giro
    .header
      = show_hide_tag
      %h3
        = "#{ pluralize @giro.visite.size, 'tappa'}"
    .more 
      %table.table
        - for visita in @giro.visite do
          = render "visite/visita_item", visita: visita
