= render layout: 'form' do |f|
  
  .control-group

    = f.file_field :importa_file, title: "Importa File CSV o XLS"
    
    %hr
    
    = f.input :leggi, as: :text, label: "incolla i titoli e le quantità dalla mail Consegne", input_html: { class: "input-block-level" }

 
          
  %hr    
  .control-group
    .controls
      %button{:class => "btn btn-primary pull-right", :type => "submit"} Salva e continua
  
