%li[cliente]
  %span.titolo
    = link_to cliente.titolo, cliente
  
  - unless cliente.properties.nil?
    - unless cliente.properties["appunti_in_corso"].nil?
      %span.in-corso
        %span.badge.badge-info= cliente.properties["appunti_in_corso"]
    - unless cliente.properties["copie_da_consegnare"].nil?
      %span.da-consegnare
        %span.badge= cliente.properties["copie_da_consegnare"]
  
  = baule_tag cliente, class_scarica: "pull-right"
  
