    
.foglio-adozioni.list{ id: "foglio_adozioni_#{cliente.id}"}
  - cliente.classi.order(:classe, :sezione).group_by(&:classe).each do |c, sezioni|
    .module
      - for sezione in sezioni
        = render 'classi/classe_extended', c: sezione