- title "Modifica cliente"

.container
  .row
    .span7.well
      / = render 'shared/title_bar', title: "Modifica cliente"
      %h2 Modifica Cliente
      %hr
      = render 'form'
    .span3
      .well
        = render 'shared/non_solo_cap'

