- title "Modifica cliente"


.row
  .span7
    / = render 'shared/title_bar', title: "Modifica cliente"
    .well
      %h2 Modifica Cliente
      %hr
      = render 'form'
  .span5
    .well
      #gmaps_page.map-editable
        - @mappa = @cliente.to_gmaps4rails
        = gmaps( {:markers => {:data => @mappa, :options => { :draggable => true  }}, :map_options => { :type => "ROADMAP", :zoom => 15, :auto_zoom => false } }, false, false)
        %p.help-block Trascina il puntatore sul punto esatto e salva le modifiche.

    .well
      = render 'shared/non_solo_cap'      