- title "Nuovo cliente"


.row
  .span7.well
    / = render 'shared/title_bar', title: "Nuova cliente"
    %h2 Nuovo Cliente
    %hr
    = render 'form'
  .span3
    .well
      = render 'shared/non_solo_cap'

