- title @cliente.titolo

= new_button( new_appunto_url(cliente: @cliente) )


- if params[:view] == 'foglio_scuola'
  
  = render 'foglio_scuola', cliente: @cliente

- else
  
  = render 'cliente_show'