/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require css3buttons/without-reset
 
 *= require_self
 *= require chosen	
 *= require jquery.validity	
 *= require mixins 
 *= require_tree . 
*/


body {
  background-color: #FFFFFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0;
}

a {
  color: #1B97F2;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

a img { border: none; }

h1 { font-size: 24px; }
h2 { font-size: 18px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }

.clear { clear: both; }

ul {
  margin: 4px 0;
  padding-left: 17px;
}

ul.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.horizontal li {
  margin: 0;
  padding: 0;
  float: left;
}

#flash_notice, #flash_alert {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #FFF;
  opacity: 0.8;
  z-index: 99;
}

#flash_notice {
  background-color: #267923;
}

#flash_alert {
  background-color: #871F22;
}

#flash_notice a, #flash_alert a {
  color: #FFF;
}

.field {
  margin: 10px 0;
}

.special_email_field {
  display: none;
}

label {
  display: block;
}

label.check_box {
  display: inline;
}
