// .group-result {
// 	display: list-item !important;
// }

#create-riga {
  margin: auto;
  width: 80%;
  #add-riga {
     margin-top:30px;
     float: right;
  }
  .field_inline {
    float:left;
    margin-top: 1em;
    margin-right: 10px;
    input.qta {

			background-color: #fff;
		  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
		  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
		  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
		  background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
		  background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
		  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
		  background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
		  -webkit-border-radius: 4px;
		  -moz-border-radius   : 4px;
		  border-radius        : 4px;
		  -moz-background-clip   : padding;
		  -webkit-background-clip: padding-box;
		  background-clip        : padding-box;
		  border: 1px solid #aaa;
		  display: block;
		  overflow: hidden;
		  white-space: nowrap;
		  position: relative;
		  height: 24px;
		  padding-right: 8px;
		  color: #444;
		  text-decoration: none;
		  text-align: right;
		  width:50px;
		}
		input[type=checkbox] {
			height: 23px;
			margin-left: 8px;
		}
		label {
			color:#999999;
			font-size:11px;
		}
  }
}






.content-view {
	width: 680px;
	margin: auto;
}

.field {
  margin: 10px 0;
}

.links {
	width: 150px;
	float: right;
	text-align: right;
}

/*** FILTERS ***/

.devise-form {
	width: 600px;
	margin: auto;
}

/*** FILTERS ***/

.filters {
  margin-bottom: 15px;
}

.filter {
  border: solid 1px #999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #DDD;
  padding: 2px 8px;
  margin-bottom: 10px;
  font-size: 12px;
}

.filter a {
  padding-left: 5px;
}


/* root element for scrollable */
.scrollable {
	/* required settings */
	position:relative;
	overflow:hidden;
	/* vertical scrollables have typically larger height than width but not now */
	height: 300px;
	
	list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #BBB;
  border-top: none;
  padding: 5px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

/* root element for scrollable items */
.scrollable .items {
	position:absolute;
	/* this time we have very large space for the height */
	height:20000em;
	
	.item {
		margin: 5px 0;
	  font-size: 14px;
	}
}
/*** SEARCH_OPTIONS ***/

.search_options {
  margin-bottom:15px;
	ul {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	  border: solid 1px #BBB;
	  border-top: none;
	  padding: 5px 20px;
	  border-bottom-left-radius: 5px;
	  border-bottom-right-radius: 5px;
	  -webkit-border-bottom-left-radius: 5px;
	  -webkit-border-bottom-right-radius: 5px;
	  -moz-border-radius-bottomleft: 5px;
	  -moz-border-radius-bottomright: 5px;
		li {
		  margin: 5px 0;
		  font-size: 14px;
		}
	}
	h2 {
	  padding: 4px 20px;
	  margin: 0;
	  font-weight: normal;
	  color: #444;
	  font-size: 14px;
	  text-align: center;
	  border-top-left-radius: 6px;
	  border-top-right-radius: 6px;
	  -webkit-border-top-left-radius: 6px;
	  -webkit-border-top-right-radius: 6px;
	  -moz-border-radius-topleft: 6px;
	  -moz-border-radius-topright: 6px;
	  border: solid 1px #BBB;
	  border-bottom-color: #AAA;
	  background-color: #DDD;
	  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
	  background: -moz-linear-gradient(top,  #EEE, #CCC);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
	}
}

.title-bar {
  padding: 4px 20px;
  margin: 0;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#BBB));
  background: -moz-linear-gradient(top,  #F3F3F3, #BBB);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F3F3', endColorstr='#BBB');
}
