// Place all the styles related to the magazzino controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.libri {
  
  .libro {
    
    
    padding: 9px 12px 9px;
    border-bottom: 1px solid #E8E8E8;

    background: white;
    border-left: 1px solid #E8E8E8;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid #E8E8E8;
    border-right: 1px solid rgba(0, 0, 0, .1);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;      
    

    
    .titolo {
      img {
        padding: 5px;
      }
    }
    .quantita {
      margin-top: 15px;
      font-size: 18px;
      text-align: center;
    }
    .righe {
      margin-top: 15px;
      font-size: 18px;
      text-align: center;
    }
    .in_ordine {
      color: red;
      margin-top: 15px;
      font-size: 18px;
      text-align: center;
    }

    .consegnati {
      margin-top: 15px;
      font-size: 18px;
      text-align: center;
    }
    .giacenza {
      color: green;
      margin-top: 15px;
      font-size: 18px;
      text-align: center;
    }
  }
}