

/*** ERRORS ***/

.field_with_errors {
	background-color: red;
  display: inline;
}

#error_explanation {
  
	width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin: 20px auto;
  background-color: #f0f0f0;
  font-size: 12px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  margin: 8px 10px;
}

#error_explanation ul {
  margin-top: 5px;
  margin-left: 10px;
}


/*** NAV_BAR ***/


#nav_bar {
  // top: 113px;
  width:100%;
  z-index: 30;
  // position: fixed;
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 23px;
	background-color: #333;
  border-top: solid 1px #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#5C5C5C), to(#111));
  background: -moz-linear-gradient(top,  #5C5C5C, #111);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5C5C5C', endColorstr='#111');
  border-bottom: solid 3px #DE9F00;
  margin-bottom: 15px;
}

#nav_bar .nav {
  float: right;
  padding-top: 2px;
  padding-right: 100px;
}

#nav_bar form {
	padding-left: 100px;
}

#nav_bar .nav li {
  padding-left: 25px;
  font-size: 14px;
  color: #BBB;
}

#nav_bar .nav li a {
  color: #FFF;
}



/*** EPISODES ***/

.clienti {
  margin-right: 200px;
}

.unreleased {
  color: #D00;
  font-weight: bold;
  padding-left: 5px;
}

.clienti h2 .remove {
  font-size: 14px;
  font-weight: normal;
}




/*** SIDE ***/

.episode_views {
  padding: 0 20px;
  margin: 0;
  font-weight: normal;
  color: #444;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: solid 1px #BBB;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
  background: -moz-linear-gradient(top,  #EEE, #CCC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
  margin-bottom: 14px;
}

.episode_views .view {
  padding-left: 3px;
}

.episode_views .view img {
  background-color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FFF));
  background: -moz-linear-gradient(top,  #EEE, #FFF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#FFF');
  padding: 7px;
  vertical-align: middle;
  border: solid 1px #BBB;
  border-top: none;
  border-bottom: none;
}

.episode_views .view a img {
  background: none;
  padding: 2px;
  border: none;
}






/*** EPISODE ***/

#episode {
  margin: 0 auto;
  width: 962px;
}

#episode.legacy {
  width: 802px;
}

#episode #video_wrapper {
  border: solid 1px #777;
  margin-bottom: 14px;
}

#episode video {
  display: block;
}

#episode > .info {
  position: relative;
  margin-bottom: 15px;
  background-color: #FFF;
}

#episode .info .screenshot {
  float: left;
  padding-right: 14px;
}

#episode .info h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-bottom: 3px;
}

#episode .info h1 .position {
  color: #999;
}

#episode .info .details {
  color: #777;
  font-size: 12px;
}

#episode .info .watch {
  padding-bottom: 8px;
}

#episode .info .watch_button {
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #466A98;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  background: #386FB2;
  background: -webkit-gradient(linear, left top, left bottom, from(#67B0EF), to(#2B5EA4));
  background: -moz-linear-gradient(top,  #579CEA,  #2B5EA4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#579CEA', endColorstr='#2B5EA4');
  text-decoration: none;
  text-shadow: 0 -1px 0 #036;
}

#episode .info .details a {
  color: #777;
}

#episode .info .description {
  margin-top: 6px;
  margin-bottom: 18px;
  margin-right: 140px;
}

#episode.legacy .info .description {
  margin-right: 0;
}

#episode .info .social {
  position: absolute;
  right: -14px;
  bottom: 18px;
}

#episode .info .downloads {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
}

#episode .info .downloads li {
  margin-left: 8px;
}

#episode .info .downloads li .overlay {
  font-size: 12px;
  display: none;
  color: #999;
  position: absolute;
  top: -22px;
  right: 110px;
  width: 220px;
  text-align: right;
}

#episode .info .downloads li:hover .overlay {
  display: block;
}

#episode .video_info .screenshot, #episode .video_info .description, #episode .video_info .watch {
  display: none;
}



#episode.legacy .nav_section .progress {
  left: 320px;
}

#episode .asciicasts {
  padding-right: 20px;
}

#episode .browse_code img {
  vertical-align: bottom;
}

#episode .show_notes ul {
  margin-top: -10px; /* quick hack to move resources list under headline */
  padding-top: 0;
  margin-bottom: 20px;
}

#episode .episode_actions {
  float: right;
}

#episode .similar {
  margin-top: 15px;
}

#episode .similar .episode:last-child {
  border-bottom: none;
}



.blue_button {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#67B0EF), to(#2B5EA4));
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-color:#466A98;
  border-bottom-left-radius:4px 4px;
  border-bottom-right-radius:4px 4px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#466A98;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#466A98;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#466A98;
  border-top-left-radius:4px 4px;
  border-top-right-radius:4px 4px;
  border-top-style:solid;
  border-top-width:1px;
  color:#FFFFFF;
  font-size:13px;
  font-weight:bold;
  padding-bottom:6px;
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
  text-decoration:none;
  text-shadow:#003366 0 -1px 0;
  &:hover {
	  text-decoration: none;
  }
}

.red_button {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#F98179), to(#A23831));
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-color:#6F2C26;
  border-bottom-left-radius:4px 4px;
  border-bottom-right-radius:4px 4px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#6F2C26;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#6F2C26;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#6F2C26;
  border-top-left-radius:4px 4px;
  border-top-right-radius:4px 4px;
  border-top-style:solid;
  border-top-width:1px;
  color:#FFFFFF;
  font-size:13px;
  font-weight:bold;
  padding-bottom:6px;
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
  text-decoration:none;
  text-shadow:#661514 0 -1px 0;
  &:hover {
	  text-decoration: none;
  }
}
