// Place all the styles related to the righe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/utilities/lists/bullets";
@import "compass/utilities/text/ellipsis";


.table-righe {
  font-size: 13px;
  ul.righe {
    @include no-bullets;
    margin: 0;
    padding: 0;
    .riga span {
      display: block;
      float: left;
      text-align: right;
      &:first-child {
        width: 43.18%;
        text-align: left;
        font-style: italic;
        @include ellipsis
      }
      &:nth-child(2) {
        width: 8.88%;
      }
      &:nth-child(4) {
        width: 11.1%;
      }
      &:nth-child(6) {
        width: 13.32%;
      }
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(7) {
        width: 2.22%;
      }
      &:nth-child(8) {
        width: 17.76%;
      }
    }
    li:last-child {
      span:nth-child(2),
      span:nth-child(8) {
        border-bottom: 3px double black;
      }
    }
  }
  .totali {
    width: 100%;
  }
  
  
  .totali div {
    float: left;
    text-align: right;
    &:first-child {
      width: 52.06%;
    }
    &:nth-child(2) {
      width: 47.84%;
    }
  }
}


#create-riga {
  margin: auto;
  width: 80%;
  #add-riga {
     margin-top:27px;
     float: right;
  }
  .field_inline {
    float:left;
    margin-top: 1em;
    margin-right: 10px;
    input.qta {
      background-color: #fff;
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
      background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
      background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
      background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
      background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
      background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
      -webkit-border-radius: 4px;
      -moz-border-radius   : 4px;
      border-radius        : 4px;
      -moz-background-clip   : padding;
      -webkit-background-clip: padding-box;
      background-clip        : padding-box;
      border: 1px solid #aaa;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      height: 24px;
      padding-right: 8px;
      color: #444;
      text-decoration: none;
      text-align: right;
      width:50px;
    }
    input[type=checkbox] {
      height: 23px;
      margin-left: 8px;
    }
    label {
      color:#999999;
      font-size:11px;
    }
  }
}


#righe {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  background-color: #FFFFFF;
  border-bottom-color:#BBBBBB;
  border-bottom-radius:5px 5px;
  border-bottom-right-radius:5px 5px;
  border: solid 1px #BBBBBB;
  min-height: 112px;
  padding: 10px;
  .empty {
    margin-top: 3px;
    margin-bottom: 3px;
    line-height: 28px;
    
    text-align: center;
    vertical-align: middle;
    font-style: italic;
  }
  .riga {
    padding: 3px;
    background-color: #FFFFFF;
    overflow: auto;
    .remove_button {
      float: right;
      margin-top: 1px;
      display: none;
    }
    &:hover {
      .remove_button {
        display: inline;
      }
    }
    &:nth-child(even) {
      background-color: #EEEEEE;
    }
    .titolo {
      float:left;
      width: 297px;
      line-height: 26px;
      vertical-align: middle;
      margin-right:10px;
    }
    input.qta {
      float:left;
      background-color: #fff;
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
      background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
      background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
      background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
      background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
      background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
      -webkit-border-radius: 4px;
      -moz-border-radius   : 4px;
      border-radius        : 4px;
      -moz-background-clip   : padding;
      -webkit-background-clip: padding-box;
      background-clip        : padding-box;
      border: 1px solid #aaa;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      height: 24px;
      padding-right: 8px;
      color: #444;
      text-decoration: none;
      text-align: right;
      width:50px;
      margin-right:10px;
    }
  }
}

