body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
}


input[name=titolo] {width: 50%;}
input[name=cm]     {width: 20%;}
input[name=prezzo_copertina]   {width: 20%; text-align: right;}
input[name=prezzo_consigliato] {width: 20%; text-align: right;}

#top {
  overflow: hidden;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0px -1px 3px #1d1d1d;
  -webkit-box-shadow: inset 0px -1px 3px #1d1d1d;
  -moz-box-shadow: inset 0px -1px 3px #1d1d1d;
  -webkit-box-shadow: inset 0px -1px 3px #1d1d1d;
  box-shadow: inset 0px -1px 3px #1d1d1d;
  background: #474747;
  background: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#303030));
  background: -moz-linear-gradient(top, #474747, #303030);
  background: linear-gradient(top, #474747, #303030);
  
}

#wrapper,
#main,
#app {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
}

#app .libri {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: start;
}

.sidebar {
  width: 300px;
  height: 600px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  .items {
    // box-flex(1);
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    overflow-y: scroll;
  }
  .item {
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
    border-bottom: 1px solid #D2D2D1;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }  
  .items {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    overflow-y: scroll;
  }
  header {
    padding: 6px 7px 5px 7px;
    border: 1px solid #C5C5C5;
    border-width: 1px 0 1px 0;
    background: white;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#DEDFE0));
    background: -moz-linear-gradient(top, white, #DEDFE0);
    background: linear-gradient(top, white, #DEDFE0);
    border-image: initial;
  }  
  footer {
    padding: 6px;
    border-top: 1px solid #C5C5C5;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#DEDFE0));
    background: -moz-linear-gradient(top, white, #DEDFE0);
    background: linear-gradient(top, white, #DEDFE0);
    -moz-box-shadow: 0 -1px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.10);
    box-shadow: 0 -1px 2px rgba(0,0,0,0.10);
    text-align: right;
  }
  input {
    font-size: 30px;
    width: 100%;
  }
  button {
    border: 1px solid #BBB;
    font-weight: bold;
    text-shadow: 0 1px 1px white;
    font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
    font-size: 14px;
    color: #363636;
    padding: 6px 10px;
    margin: 1px 1px 1px 0;
    outline: none;
    background: #F9F9F9;
    background: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#E3E3E3));
    background: -moz-linear-gradient(top, #F9F9F9, #E3E3E3);
    background: linear-gradient(top, #F9F9F9, #E3E3E3);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px #fff;
    -webkit-box-shadow: 0 1px 1px #fff;
    box-shadow: 0 1px 1px #fff;
    border-image: initial;
  }
}




.vdivide {
  width: 6px;
  border: 1px solid #C5C5C5;
  border-width: 0 1px 0 1px;
  border-right-color: rgba(0, 0, 0, 0.30);
  background: #F9F9F9;
  background: #F9F9F9;
  background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#DFE0E1));
  background: -moz-linear-gradient(top, #F9F9F9, #DFE0E1);
  background: linear-gradient(top, #F9F9F9, #DFE0E1);
  border-image: initial;
} 
 
.stack label div {
  min-height: 27px;
  font-size: 16px;
}


.stack.form {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.stack {
  position: relative;
}

.stack > *:not(.active) {
  display: none;
}

.stack h2.bar {
  padding: 4px 20px;
  margin: 0;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#BBB));
  background: -moz-linear-gradient(top,  #F3F3F3, #BBB);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F3F3', endColorstr='#BBB');
}

.stack .spine {
  background-color: #EEE;
  padding: 10px 20px;
  border: solid 1px #BBB;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

.stack .actions {
  padding-left: 31%;
}

.stack input, .stack textarea {
  font-size: 14px;
}

.stack select {
	// background: transparent;
  width: 214px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  height: 27px;
}



