// Place all the styles related to the visite controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3/box";
@import "mixins";
@import "compass/css3/border-radius";

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;  
}

// #appunti::-webkit-scrollbar {
//   width: 12px;
// }
//  
// /* Track */
// #appunti::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
//   -webkit-border-radius: 10px;
//   border-radius: 10px;
// }
//  
// /* Handle */
// #appunti::-webkit-scrollbar-thumb {
//   -webkit-border-radius: 10px;
//   border-radius: 10px;
//   background: rgba(255,0,0,0.8); 
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
//   padding-left: 5px;
// }
// #appunti::-webkit-scrollbar-thumb:window-inactive {
//  background: rgba(255,0,0,0.4); 
// }

body {
  @include vbox();
  #wrapper {
    @include box-flex(1);
    @include vbox();
    margin: 0;
    padding: 0;
    .content {
      margin: 0;
      max-width: 1500px;
      @include box-flex(1);
      @include hbox();
      .content-list {
        margin-left:  100px;
        margin-right: 50px;
        @include box-flex(1);
        @include vbox();
        #appunti,
        #clienti {
          @include box-flex(1);
          @include vbox();
          overflow-y: auto;
          .appunto {
          }
          &:hover {
          }
        }
      }
      .side {
        @include vbox();
        padding-right: 100px;
        min-width: 260px;
        .search-citta,
        .search-nearbys {
          @include box-flex(1);
          @include vbox();
          .vertical {
            @include box-flex(1);
            overflow-y: auto;
          }
        }
      }
    }
  }
  #footer {
    margin-top: 5px;
    height: 15px;
    font-size: 11px;
    padding: 5px 100px;
  }
}

footer {
  @include hbox();
  @include box-pack(justify);
  @include border-bottom-radius(5px);  
  border: solid 1px #BBB;
  padding: 4px 20px;
  a {
    display: block;
  }  
}


section {
  margin-left:  100px;
  margin-right: 50px;
  @include box-flex(1);
  @include vbox();
  article {
    @include box-flex(1);
    @include hbox();
    border-left: solid 1px #BBB;
    border-right: solid 1px #BBB;
    .cliente {
      padding: 20px;
      @include box-flex(1);
    }
    #gmaps_page {
      @include box-flex(1);
      padding: 20px;
      .map_container {
        float: right;
      }
    }            
  }
}


#message { 
  display:none;
  position:absolute; 
  padding:10px; 
  background:#555; 
  color:#fff; 
  min-width:75px; 
}

.actions {
  margin: 8px 0;
}

.actions a {
  padding: 3px 8px 2px 8px;
  font-size: 12px;
  color: #000;
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#DDD));
  background: -moz-linear-gradient(top,  #F5F5F5, #DDD);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#DDD');
  text-decoration: none;
}

  

