%p
  Ciao #{@resource.email}!
%p Qualcuno ha richiesto di modificare la password, puoi farlo cliccando questo link.
%p= link_to 'Cambio password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.
