- title @scuola.nome

.content-view
  = render 'shared/title_bar', title: @scuola.to_s
  #collapse
    .field
      %span.label Nome
      %span.nome= @scuola.nome
    .field
      %span.label Città
      %span.note= @scuola.citta
    .field
      %span.label Provincia
      %span.scuola_nome= @scuola.provincia
    


