@import "application/mixins";

.item span.label {
	margin-top: 5px;
}

.cliente-adozioni {

  table {
    margin-top: -9px;
    padding: 0;
  }

  td {
    vertical-align: top;
  }

  td.actions {
    vertical-align: middle;
  }

}
.adozione-cliente {
  padding: 3px 0px 3px 12px;
  background-color: white;
  border-bottom: 1px solid #ccc; 
}

td.adozione-image {   
  width: 35px;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  .adozione-copertina {
    @include clearfix;
    margin-top: 5px;
    margin-right: 5px;
  }


  img {
    width: 32px;
    margin-top: 2px;
    margin-right: 3px;
  }
}
