@import "application/mixins";
@import "compass/utilities/lists/inline-list";
@import "compass/css3/border-radius";

.module.white {
  background-color: white;

  padding: 12px;
  @include border-radius(12px);


}

.more .more-actions {
  margin-top: 30px;
  @include clearfix;
  .nav-appunto {
    margin-top: 20px;
    padding-top: 10px;
    margin-left: -30px;
  }
}

.visita {
  h2 {
    margin-bottom: 10px;
  }
}
  
.classi-adozioni {
  td.classe-group {
    width: 60px;
    .badge {
      text-align: center;
      font-size: 130%;
      margin: auto;
    }
  }
  .adozioni-list {
    @include inline-list;
  }
  .sezione {
    margin-bottom: 10px
  }  
}

.break {
  margin: -15px -10px 15px -10px;
  &.page-break {
    border-top: 5px dotted blue;
  }
}