
.insert-libri-e-classi-old {
  background-color: white;
  padding-top: 18px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #E8E8E8;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  
  .error.help-inline {
    color: #B94A48;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }

  input[type=text] {
    width: 145px;
  }

  .form-horizontal {
    .control-label {
      width: 70px;
    }
    .controls {
      margin-left: 90px;
    }
  }
}

select#classi_inserter_classe {
  width: 100%;
}

.adozioni.list .item {
  min-height: 18px;
}

.classi.list .item {
  min-height: 18px;
}
