.insert-classi {
  background-color: white;
  padding-top: 18px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #E6B96F;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}


.new_classi_inserter.form-horizontal {
  .control-label {
    width: 70px;
  }
  .controls {
    margin-left: 90px;
  }
}

.adozioni.list .item {
  min-height: 18px;
}

.classi.list .item {
  min-height: 18px;
}