@import "application/mixins";

.module .header {
  background-color: white;
  min-height: 20px;
  padding: 12px;
  background-color: white;
  border-bottom: 1px solid #E8E8E8;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  color: #333;
}

.module .content {
  background-color: white;
}

.giro {
  padding: 12px;
}

div.cliente {
  @include clearfix();
  padding: 3px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  > div {
    float: left;
    line-height: 18px;
  }
  .titolo {
    width: 50%;
  }
  .counter,
  .in-corso,
  .da-consegnare, 
  .mie-adozioni {
    text-align: center;
    width: 10%;
  }
  .baule-div {
    text-align: left;
    width: 10%;
  }
}

.cliente.fatto {
  background-color: #AAAAAA;
}
