@import "application/mixins";

div.cliente {
  @include clearfix();
  margin: 3px 0 3px 0;
  padding: 3px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  > div {
    float: left;
  }
  .titolo {
    width: 50%;
  }
  .counter,
  .in-corso,
  .da-consegnare, 
  .mie-adozioni {
    text-align: center;
    width: 10%;
  }
  .baule-div {
    text-align: left;
    width: 10%;
  }
}

.cliente.fatto {
  background-color: #AAAAAA;
}
