@import "application/mixins";


.nested_scuole {
  padding-left: 20px;

}

.cliente.big.item {
  min-height: 80px 
}

.cliente-vendite {
  @include clearfix();
  padding: 3px 12px 3px 12px;
  background-color: white;
  border-bottom: 1px solid #ccc; 

  header, footer, 
  .appunto.appunto-item {
    @include clearfix();
    line-height: 22px;
  } 

  span.importo {
    display: inline-block;
    text-align: right;
    min-width: 70px;
  }
  .totale-importo {
    min-width: 70px;
    border-top: 3px double black;
    text-align: right;
  }
  .totale-copie {
    min-width: 40px;
    border-top: 3px double black;
    text-align: right;
  }
}

.module .header {
  background-color: white;
  min-height: 20px;
  padding: 12px;
  background-color: white;
  border-bottom: 1px solid #E8E8E8;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  color: #333;
}

.module .content {
  background-color: white;
}

.header form {
  margin-bottom: 0;
}

.giro {
  padding: 12px;
  
}

.giro.oggi {
  background-color: #36C;
  color: white;
  a {
    color: white;
  }
}

div.cliente {
  @include clearfix();
  padding: 3px 12px 3px 12px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  // > div {
  //   float: left;
    
  // }
  .cliente-inner {
    margin-left: 40px;
    > div {
      float: left;
    }
  }
  .titolo {
    width: 50%;
    line-height: 28px;
    text-indent: 5px;
  }
  .in-corso,
  .da-consegnare, 
  .mie-adozioni {
    text-align: center;
    width: 10%;
    line-height: 28px;
  }
  .importo-in-sospeso {
    text-align: center;
    width: 20%;
    line-height: 28px;
  }
  .baule-div {
    float: left;
    text-align: left;
    width: 34px;
  }
}

.cliente.fatto {
  background-color: #f3f3f3;
}

.foglio-scuola {

  .row-classi {
    width: 100%;  
    border-bottom: solid 1px #E8E8E8;
    
    .header-classi {
      width: 10%;
      float: left;
      .inner {
        padding: 3px 5px;
        border-right: solid 1px #E8E8E8;
        min-height: 150px;
        h1 {
          text-align: center;
          vertical-align: center;
        } 
      }
    }
    
    .classe {
      float: left;
      .nr_alunni form.on_the_spot_editing {
        
        // margin-left: 50px;
      }
      .nr_alunni .on_the_spot_editing input {
        float: left;
        min-width: 50px;
      }
      .insegnanti .on_the_spot_editing input {
        min-width: 200px;
      }
      .inner {
        padding: 3px 5px; 
        border-right: solid 1px #E8E8E8;
        position: relative;
        min-height: 150px;
        ul.inline {
          position: absolute;
          left: 0;
          bottom: 5px;
          li.vacanza {
            padding: 0 2px;
            img {
              width: 32px;
              height: 32px;
            }
          }
        }

        // .vacanza .btn {
        //   padding: 0;
        // }
      }
      

    }
  }
}
