@import "mixins";


/*** FILTERS ***/

.devise-form {
	width: 600px;
	margin: auto;
}

/*** FILTERS ***/

.filters {
  margin-bottom: 15px;
}

.filter {
  border: solid 1px #999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #DDD;
  padding: 2px 8px;
  margin-bottom: 10px;
  font-size: 12px;
}

.filter a {
  padding-left: 5px;
}

.title-bar {
  @include bar(left);
}
