@import "compass/utilities/lists/inline-list";



.module.transparent {
  background-color: transparent !important;
}

ul.list li.item {
  padding-bottom: 9px;
}

.list {

  .item-small {
    
    background-color: white;
    padding: 4px 12px;

    border-bottom: 1px solid #E8E8E8;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  
  }

  .item {

    background-color: white;
    padding: 9px 12px 0;

    border-bottom: 1px solid #E8E8E8;

    border-left: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;


    min-height: 70px;
     
    footer {
      min-height: 37px;
      line-height: 37px;
      margin-top: 5px;
    }
    .footer-actions ul.nav-actions {
      @include inline-list;
    }
    .footer-actions {
      display: none;
    }
    &:hover .footer-actions,
    &.opened .footer-actions {
      float: left;
      display: block;
    }
    .time {
      position: absolute;
      right: 12px;
      font-size: 12px;
      color: #999;
      -webkit-transition: opacity .15s ease-in-out;
      -moz-transition: opacity .2s ease-in-out;
      transition: opacity .15s ease-in-out;
    }

    &.da_pagare {
      color: white;
      background-color: #7A43B6 !important;
    }

    &.non_coerente {
      color: white;
      background-color: #b62c42 !important;
    }
    
    &.da_pagare .numero span,
    &.da_pagare .numero strong,
    &.da_pagare .copie,
    &.da_pagare .importo-totale,
    &.da_pagare .copie strong,
    &.da_pagare .importo-totale strong,
    &.da_pagare a {
      color: white;
    }
    &.da_pagare .table-righe-new {
      .riga {      
        &:nth-child(odd) {
          background-color: #7A43B6 !important;
        }
      }
    }
    &.da_pagare .actions {
      background-image: none !important;
    }
    
    .causale {
      float: left;
      padding-right: 10px;
      span {
        font-size: 11px;
        color: #999999;
      }
    }

    .cliente-titolo {
      text-align: left;
      float: left;
    }

    .scorri-div {
      position: absolute;
      bottom: 10px;
      left: 12px;
    }
    .sum,
    .copie,
    .importo-totale {
      position: absolute;
      bottom: 0;
      padding: 2px 12px;
      color: #999;
      font-size: 10px;
      line-height: 16px;
      text-transform: uppercase;
      border-right: 1px solid #E8E8E8;
      border-left: 1px solid #E8E8E8;
      border-top: 1px solid #E8E8E8;
      strong {
        display: block;
        color: #333;
        font-size: 14px;     
      }    
    }
    .sum {
      // height: 44px
    }
    .appunti_da_fare {
      right: 303px;
      width: 41px;
    }
    .appunti_pronti {
      right: 241px;
    }
    .importo_in_sospeso {
      right: 157px;
    }
    .vacanze_da_ritirare {
      right: 88px;
    }
    .adozioni_da_consegnare {
      right: 0px;
      width: 63px
    }
    .copie {
      right: 94px;
      width: 35px;
    }
    .importo-totale {
      right: 0;
      width: 70px;
    }


    .table-righe-new,
    .righe {
      display: none;
      margin: 10px -12px 0;
    }
    

    &.opened {
      margin-top: 10px;
      margin-bottom: 10px;
      .actions {
        display: none;
      }
      .table-righe-new,
      .more-actions,
      .righe {
        display: block;
      }
    }
    
    .more-actions {
      display: none;
      position: absolute;
      bottom: 10px;
    }
    .chiudi {
      display: none;
    }
    &.opened:hover .chiudi {
      display: block;
    }
    
    .actions .nav-fattura {
      display: none;
    }

    &:hover .time {
      display:none;
    }
    &:hover .actions .nav-fattura {
      display:block;
    }
  }
}
