// Place all the styles related to the righe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/utilities/lists/bullets";
@import "compass/utilities/text/ellipsis";
@import "mixins";


.riga .titolo a {
  color: inherit;
    &:hover {
    color: inherit;
  }
}

.table-righe-new {
  padding: 5px 0 10px;
}


.item .table-righe-new {
  margin: 10px -12px 0;
}


.riga {
  padding: 3px 12px;
  border-bottom: 1px solid #E8E8E8;
  @include clearfix;
  
  &:nth-child(odd) {
    background-color: #E7E7E7;
  }
  .consegnata {
    padding: 0 5px 0 5px;
    float: left;
  }
  .pagata {
    padding: 0 5px 0 5px;
    float: left;
  }  
  .cb {
    float: left;
  }
  .titolo {
    float: left;
    padding-top: 2px;
    padding-left: 5px;
    font-style: italic;
    a {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
  }
  .dati-riga {
    float: right;
    min-width: 224px;
    .quantita, .prezzo, .sconto, .importo {
      float:left;
      width: 56px;
      min-width: 56px;
      text-align: center;
    }
    .prezzo {
      font-weight: normal;
    }
    .importo {
      float: right;
      text-align: right;
    }
  }
}

.table-righe-new {
  
  .rif-appunto {
    padding: 5px 12px;
  }
  
}


.table-righe {
  font-size: 90%;
  padding: 0 10px 0 0;
  margin: 20px 0 10px 0;
  
  table.righe {
    @include no-bullets;
    padding: 0;
    
    td {
      text-align: right;
      &:first-child {
        width: 43.18%;
        text-align: left;
        font-style: italic;
        @include ellipsis
      }
      &:nth-child(2) {
        width: 8.88%;
      }
      &:nth-child(4) {
        width: 11.1%;
      }
      &:nth-child(6) {
        width: 13.32%;
      }
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(7) {
        width: 2.22%;
      }
      &:nth-child(8) {
        width: 17%;
      }
    }
  }
}


#create-riga {
  margin: auto;
  margin-right: 14px;
}

.modal #righe {
  height: 200px;
  max-height: 200px;
  padding: 10px;
  overflow-y: scroll;
}

#righe {
  margin: auto;
  margin-top: 10px;
  min-height: 250px;
  background-color: #FFFFFF;
  border-bottom-color:#BBBBBB;
  border-bottom-radius:5px 5px;
  border-bottom-right-radius:5px 5px;
  border: solid 1px #BBBBBB;

  .empty {
    margin-top: 3px;
    margin-bottom: 3px;
    line-height: 28px;
    
    text-align: center;
    vertical-align: middle;
    font-style: italic;
  }
  .riga {
    padding: 3px;
    margin: 0 10px 0 10px;
    background-color: #FFFFFF;
    overflow: auto;
    .remove_button {
      float: right;
      margin-top: 1px;
      display: none;
    }
    &:hover {
      .remove_button {
        display: inline;
      }
    }
    .titolo {
      float:left;
      width: 50%;
      line-height: 26px;
      vertical-align: middle;
      margin-right:10px;
    }
  }
}

#righe .fields:nth-child(even),
#righe .fields:nth-child(even) .riga {
  background-color: #EEEEEE;
}

